<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}铁路工务信息管理系统{% endblock %}</title>
		<script type="text/javascript">
			var pageid = "";
			var childaccount = "null";
		</script>
{# 		{% javascripts 	'@AcmeTestBundle/Resources/public/js/*'	%}#}
{#    			 <script src="{{ asset_url }}"></script>#}
{# 		{% endjavascripts %}#}

		<script type="text/javascript" src="{{ asset('js/timeflag.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/getParameter.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/util.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/summarizejs/summarize.js') }}"></script>
		<script src="{{ asset('js/Tab.js') }}"></script>
		
		<link href="{{ asset('/public/css/WdatePicker.css') }}" type="text/css"/>
		<style type="text/css">
			.highslide img {cursor: url(http://www.highcharts.com/highslide/graphics/zoomin.cur), pointer !important;}.highslide-viewport-size {position: fixed; width: 100%; height: 100%; left: 0; top: 0}
		</style>
		
		<link rel="shortcut icon" href="{{asset('images/Talkingdata.ico')}}" type="image/x-icon" />
		<link href="{{asset('css/css.css')}}" rel="stylesheet" type="text/css" />
		<script type="text/javascript"> var basePath="http://analytics.talkingdata.net:80/"; </script>
		<script type="text/javascript"> var username="Demo"; </script>
		<script type="text/javascript" language="javascript" src="{{ asset('js/check.js')}}"></script>
		<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
		<script type="text/javascript" language="javascript" src="{{ asset('js/jquery.dataTables.js')}}"></script>
		<script src="{{ asset('js/jquery.select-1.3.6.js')}}"></script>
		<script src="{{ asset('js/util.js')}}"></script>
		<script src="{{ asset('js/Data_Ruler.js')}}"></script>
		<script type="text/javascript" src="{{ asset('js/highslide/highslide-full.min.js')}}"></script>
		<script type="text/javascript" src="{{ asset('js/highslide/highslide.config.js')}}" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/highslide.css')}}" />
		<script type="text/javascript" language="javascript" src="{{ asset('js/temple.js')}}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			$("select").sSelect();
			})
		</script>
	
	</head>

    <body onload="initSearch();">
        <div class="web" style="min-width:768px;">
    	{% block header %}    	
    	{% endblock %}
    	<div class="minweb" style="min-height:576px;">
    	<div class="main">
    	{% block menu %}
    	{% endblock %}
    	
    	{% block content%}
    	{% endblock %}
    	</div>
    	</div>
    	</div>
    	
    	<div class="copyright" id="copyright">
			<div class="l"> 	
				<a href="../document_web/index.jsp?statistics" id="txtbottom">功能文档</a> <a href="#this" onclick="xytt('xytxt','xy','xycolse')">服务条款</a> <a href="../contact.jsp" target="_blank" id="contactcenter">联系我们</a> <a target="_blank" href="http://weibo.com/u/2540289693" id="sinawb">新浪微博</a>
	    		<a target="_blank" href="http://blog.talkingdata.net" id="blog">BLOG</a></div><div class="r">Copyright © 2013-2014 <a href="http://www.miibeian.gov.cn/"  target="_blank" id="miibeian">Railmaps.org</a> </div>
    		</div>
	    	<div class="xy" id="xy"></div>			
		</div>
   
    </body>
</html>
