{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}


<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	
	<h2 class="form-singin-heading">欢迎！</h2>
    <input type="text" id="username" class="input-block-level" placeholder="用户名" name="_username" value="{{ last_username }}" required="required" />
    <input type="password" id="password" class="input-block-level" placeholder="密码" name="_password" required="required" />
	
	<label  class="checkbox" for="remember_me">
    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" /> 下次自动登录
    </label>
    {% if error %}
    		<p><span class="label label-important">{{ error|trans({}, 'FOSUserBundle') }}</span></p>
    {% endif %}
   
 	<button class="btn btn-large btn-primary" type="submit">登录</button>
    
{#     <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />#}
	
</form>


{% endblock fos_user_content %}
