<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}OTMIS{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
{#         <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">#}
        <!-- Le styles -->
	    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
	
	    <!--[if lte IE 6]>
	    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-ie6.css') }}">
	    <![endif]-->
	    <!--[if lte IE 7]>
	    <link rel="stylesheet" type="text/css" href="{{ asset('css/ie.css') }}">
	    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      	min-width:700px;
        _width:700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .login {
        margin: 60px 0 60px;
        
      }
      
      .left {
		margin:30px 0 30px;
      	border-left:1px;
      }
      
     

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
{#    移除响应式设计 <link href="{{ asset('bundles/acmetest/assets/css/bootstrap-responsive.css') }}" rel="stylesheet">#}
        
    </head>
    <body>
{#        <div>#}
{#             {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
{#                 {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
{#                 <a href="{{ path('fos_user_security_logout') }}">#}
{#                     {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
{#                 </a>#}
{#             {% else %}#}
{#                 <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
{#             {% endif %}#}
{#         </div>#}

        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}

        <div class="container-narrow">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
