{% extends 'AcmeMainBundle::layout.html.twig' %}

{% block title %} 线路的资料 {% endblock %}
{% block header %}
{% include "AcmeMainBundle::header.html.twig" %}
{% endblock %}
{% block contentjs %}
<script type="text/javascript">

$(document).ready(function() {
	var editor = new $.fn.dataTable.Editor({
		"ajaxUrl" : "{{ url('curve_get') }}",
		"domTable" : "#1001",
		"fields" : [{
				"label" : "线路名称:",
				"name" :"name"
			},  {
				"label" : "线路编号:",
				"name" :"number"
			}]
		});
	$('#1001').dataTable( {
		"oLanguage": {
			"sProcessing":   "处理中...",
		    "sLengthMenu":   "每页显示 _MENU_ 项",
		    "sZeroRecords":  "没有匹配结果",
		    "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
		    "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
		    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
		    "sInfoPostFix":  "",
		    "sSearch":       "<botton class='btn btn-link'>搜索</botton>  ",
		    "sUrl":          "",
		    "oPaginate": {
		        "sFirst":    "首页",
		        "sPrevious": "上页",
		        "sNext":     "下页",
		        "sLast":     "末页",}
	        },

	    "sDom": 'lfrT<"clear">tip',//"<'row'<'span5'l><'span5'f>r>t<'row'<'span5'i><'span5'p>>",
		"bProcessing": true,
	    "bPaginate": true,
	    //"sPaginationType": "bootstrap",
	    "sPaginationType": "full_numbers",
	    "sAjaxSource": "{{ url('curve_get') }}",
	    //"sScrollX": "100%",
	    //"sScrollXInner": "120%",
        //"bScrollCollapse": true,
	    "aoColumns" : [
	                   { "mDataProp" :"DT_RowId","sWidth":"5px"},
	                   { "mDataProp" :"line_name","sWidth":"60px"},	                                     
	                   { "mDataProp" :"side","sWidth":"50px"},	                                     
	                   { "mDataProp" :"workarea","sWidth":"50px"},	                                     
	                   { "mDataProp" :"startmileage","sWidth":"20px"},	                                     
	                   { "mDataProp" :"stopmileage","sWidth":"20px"},	                                     
	                   { "mDataProp" :"direction","sWidth":"20px"},	                                     
	                   { "mDataProp" :"radius","sWidth":"20px"},	                                     
	                   { "mDataProp" :"versine","sWidth":"20px"},	                                     
	                   { "mDataProp" :"angle","sWidth":"60px"},	                                     
	                   { "mDataProp" :"superelevation","sWidth":"60px"},	                                     
	                   { "mDataProp" :"widthen","sWidth":"20px"},	                                     
	                   { "mDataProp" :"starttransition","sWidth":"20px"},	                                     
	                   { "mDataProp" :"stoptransition","sWidth":"20px"},	                                     
	                   { "mDataProp" :"starttangent","sWidth":"20px"},	                                     
	                   { "mDataProp" :"starttangent","sWidth":"20px"},	                                     
	                   { "mDataProp" :"curvelength","sWidth":"20px"},	                                     
	                   { "mDataProp" :"slope","sWidth":"20px"},	                                     
	                   { "mDataProp" :"speed","sWidth":"20px"},	                                     
	                   { "mDataProp" :"identifier", "sWidth":"20px"},	                                     
	                   { "mDataProp" :"hasoperation","sWidth":"20px"},	                                     
	                   { "mDataProp" :"remark","sWidth":"20px"},	                                     
		     ],
	    "oTableTools": {
	    	"sSwfPath": "{{ asset('swf/copy_csv_xls_pdf.swf') }}",
			"sRowSelect": "single",  //用户选择单行
			"aButtons": [
			      {"sExtends" : "editor_create" ,"editor":editor, "sButtonText": "新建" },
			      {"sExtends" : "editor_edit" ,"editor":editor , "sButtonText": "修改"},
			      {"sExtends" : "editor_remove" ,"editor":editor , "sButtonText": "删除" },
				  {"sExtends": "xls" , "sButtonText": "保存为Excel" },
			  ]
		},
	} );  
});

</script>
{% endblock %}

{% block menu %}
<ul class="nav nav-tabs nav-stacked affix">
   <li><a href="{{ url('line') }}"> 线路资料</a></li>
   <li class="active"><a href="{{ url('curve') }}"> 曲线台帐</a></li>
   <li><a href="#">坡道台帐</a></li>
   <li><a href="#">无缝线路台帐</a></li>
   <li><a href="#"> 管理台帐</a></li>
   <li><a href="#">自轮转设备台帐</a></li>
</ul>
{% endblock %}

{% block content%}

<table class="table table-bordered table-minfont" id="1001" >
	<thead>
		<tr>
			<th>编号</th>
			<th>线名</th>
			<th>线别</th>
			<th>工区</th>
			<th>起点里程</th>
			<th>终点里程</th>
			<th>曲线半径</th>
			<th>方向</th>
			<th>正矢</th>
			<th>转角</th>
			<th>超高</th>
			<th>轨距加宽</th>
			<th>起点切线长</th>
			<th>终点切线长</th>
			<th>起缓和曲线长</th>
			<th>终缓和曲线长</th>
			<th>曲线全长</th>
			<th>顺坡率</th>
			<th>平均速度</th>
			<th>曲线编号</th>
			<th>是否运营</th>
			<th>备注</th>
{# 			<th>id</th>	 			#}
		</tr>
	</thead>
<tbody></tbody>
</table>

{% endblock %}

